
  <section class="header">
    <div class="header-title">
      <h3>My Matches</h3>
      <a routerLink="gesture">
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
    </div>
  </section>
  <section class="profiles">
    <div class="section-title">
      <h4>8 Profiles pending with me</h4>
      <span>5 New</span>
    </div>
    <div class="profile-queue">
      <div class="card">
        <img class="card-img-top" src="assets/images/profile6.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"><b>Ramesh</b></h5>
          <p class="card-text">
            27 Yrs, 5 Ft. 3 In, Tamil, Nair, MBBS, Doctor, Chennai, Tanil
            Nadu, India
          </p>
          <div>
            <a href="#" class="btn btn-warning rounded-pill">Yes</a>
            <a href="#" class="btn btn-outline-secondary rounded-pill ml-2">No</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/profile7.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"><b>Suresh</b></h5>
          <p class="card-text">
            27 Yrs, 5 Ft. 3 In, Tamil, Nair, MBBS, Doctor, Chennai, Tanil
            Nadu, India
          </p>
          <div>
            <a href="#" class="btn btn-warning rounded-pill">Yes</a>
            <a href="#" class="btn btn-outline-secondary rounded-pill ml-2">No</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/profile8.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"><b>Rajesh</b></h5>
          <p class="card-text">
            27 Yrs, 5 Ft. 3 In, Tamil, Nair, MBBS, Doctor, Chennai, Tanil
            Nadu, India
          </p>
          <div>
            <a href="#" class="btn btn-warning rounded-pill">Yes</a>
            <a href="#" class="btn btn-outline-secondary rounded-pill ml-2">No</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/profile9.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"><b>Amit</b></h5>
          <p class="card-text">
            27 Yrs, 5 Ft. 3 In, Tamil, Nair, MBBS, Doctor, Chennai, Tanil
            Nadu, India
          </p>
          <div>
            <a href="#" class="btn btn-warning rounded-pill">Yes</a>
            <a href="#" class="btn btn-outline-secondary rounded-pill ml-2">No</a>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/profile10.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"><b>Sanjay</b></h5>
          <p class="card-text">
            27 Yrs, 5 Ft. 3 In, Tamil, Nair, MBBS, Doctor, Chennai, Tanil
            Nadu, India
          </p>
          <div>
            <a href="#" class="btn btn-warning rounded-pill">Yes</a>
            <a href="#" class="btn btn-outline-secondary rounded-pill ml-2">No</a>
          </div>
        </div>
      </div>

      <!-- Add more profile cards as needed -->
    </div>
  </section>
  <section style="height: 100px;"></section>

